<table class="table listings">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Date</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <% @listings.each do |listing| %>
      <tr>
        <td class="name"><%= listing.name %></td>
        <td><%= listing.price %></td>
        <td><%= listing.date.strftime("%b %d") %></td>
        <td><%= link_to listing.link, listing.link %></td>
      </tr>
  <% end %>
  </tbody>
</table>